h1 {
  color: white;
  font-size: 25px;
  font-family: cursive;
  background-color: black;
  padding: 13px;
}
body {
  background-color: #3383A6;
}
div.container {
  text-align: center;
  font-family: cursive;

}

ul.myUL {
  display: inline-block;
  text-align: left;
}